$navbarheight: 100px;


// ****************************************************************
// GLOBAL

html,body {
    // height:100%;
    // padding-top:50px;
}

body {
    padding-top: $navbarheight;
}

.container {
    max-width: 960px;
}

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}


// ****************************************************************
// NAVIGATION

nav {
    // height: $navbarheight;
    // transition: all .7s ease;
    border-bottom: 15px solid white;
}

.navbar {
    padding-top: calc(#{$navbarheight} / 4);
    padding-bottom: calc(#{$navbarheight} / 4);
}

.navbar-collapse {
    @media (max-width: 768px) {
        padding: 15px;
    }
}

.shrink {
    width: 100%;
    height: 100px;
    position: fixed;
    left: 0px;
    .navbar-brand {
        img {max-height: 40px; padding: 3px 0;}
    }
}


// ****************************************************************
// BOXES

.lead {
    padding: 0 15px;
    margin: 0 15px;
    @media (max-width: 768px) {
        padding: 0;
    }
}

.flammbox {
    overflow: hidden;
    @media (max-width: 768px) {
        margin-top: 1rem;
    }
}

.flammbox-inner {
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;
    margin-bottom: 1rem!important;
    margin-top: 1rem!important;
    @media (max-width: 768px) {
        // margin-top: 15px;
    }
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    @media (max-width: 768px) {
        top: 20%;
        h1 {
            font-size:2.5rem;
        }
    }
}

// HEADER POSITIONS
.head-bl {
    position: absolute;
    bottom: 1rem;
    left:1rem;
}

.head-br {
    position: absolute;
    bottom: 1rem;
    right:1rem;
    text-align: right;
}

.head-tr {
    position: absolute;
    top: 1rem;
    right:1rem;
    text-align: right;
}


// IMAGE GALLERY
.flammgallery {
    h2 {
        padding-bottom: 2rem !important;
    }
    padding-left: 0;
    img {
        // max-width: 250px;
        // height: auto;
        margin-bottom: 2rem;
    }
}

// MODAL'S
.flammmodal-footer {
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}
