// **IMPORTS**
// ---------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


// **VARS**
// ---------------------------------------------------------------------
//Fonts
$opensans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
//Colors
$text: #999999;
$menuitemcolor: #000000;
$orange: #F34339;
$blue: #0F449F;
$gray-dark: #282828;
$gray-light: #CCCCCC;
$gray: #A6A6A6;
$link: #FF0000;
//Sizes
$footer: 120px;
$menu: 120px;

// **LAYOUT**
// ---------------------------------------------------------------------
// Global
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: $footer;

}
nav {
    background-color: $gray-light;
    .nav-logo {
        max-height: $menu;
    }
    .nav-link {
        color: $menuitemcolor !important;
    }
}

// Typography
h1 {
    font-family: $roboto;
}


// Content
#content {
    padding-top: $menu;
    padding-bottom: $footer;
    a {
       color: $link;
       border-bottom: 1px dotted $link;
       &:hover {
           color: darken($link, 20);
           text-decoration: none;
           border-bottom: 1px dotted $text;
       }
    }
    #landing {

    }
    .gallery {
        a {
            img {
                max-height: 200px;
            }
        }
        margin-bottom: 1em;
    }
}



// Footer
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer;
    line-height: $footer;
    background-color: $gray-light;
    .footer-logo {
        max-height: 40px;
    }
}
